@charset "UTF-8";


/* other.css */

/* 데스크탑 브라우저 가로 */
@media only screen and (min-width : 1224px) {
header{
	font-size : 40px; 
	color: black;
	text-align:center;
}
navi{
	font-size : 20px; 
	color: black;
	text-align:center;
	
}

#root {
			width:1100px;
			margin:30 auto;						
		/*	background-color:rgb(100,200,300); */
			color:#345;
			font-size : 14px;
		}
	
}

/* 큰 모니터 */
@media only screen and (min-width : 1824px) {
	header{
	font-size : 40px; 
	color: black;
	text-align:center;
}
navi{
	font-size : 30px; 
	color: black;
	text-align:center;
	
}

#root {
			width:1600px;
			margin:30 auto;						
			/*background-color:rgb(200,200,200); */
			color:#222;
			font-size : 30px;
		}
}

/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	header{
	font-size : 40px; 
	color: black;
	text-align:center;
}
navi{
	font-size : 20px; 
	color: black;
	text-align:center;
	
}

#root {
			width:auto;
			margin:10 auto;						
			/* background-color:rgb(200,300,400); */
			color:#597;
			font-size : 3.0em;
		}
#root td {
		  	font-size: 3.0em;
		  	margin: 0 0 0.1em 0;	
}		

#root button {
		  	font-size: 1.0em;
		  	margin: 0 0 0.1em 0;	
}		
			
}

