<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.example.demo.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
		INSERT INTO chatbot_temp.tCsr_Bo2(
		DATE,
		CSR_TYPEID,
		CO_ID,
		CAR_NO,
		PRO_DATE,
		CSR_REQID,
		CSR_CONT,
		FIX_AREAID,
		ZONEID,
		DEVICEID,
		FIX_CTGID,
		FIX_CONT,
		BE_IH,
		AF_IH,
		ETC,
		USERID,
		STATUSID,
		GPS_ANT,
		AUDIO_CAB,
		VIDEO_CAB,
		LED_CAB,
		Y_CAB,
		AFC_CAB,
		BMS_CAB,
		AUDIO_GENDER,
		CUSHION,
		LTE_ANT,
		WIFI_ANT,
		PRINT_BAR,
		HEXBOLT,
		BASEPLATE,
		SIMPLEID,
		REGDATE
		)VALUES(
		#{Date},
		#{Csr_typeid},
		#{Co_id},		
		#{Car_no},
		#{Pro_date},
		#{Csr_reqid},
		#{Csr_cont},
		#{Fix_areaid},
		#{Zoneid},
		#{Deviceid},
		#{Fix_ctgid},
		#{Fix_cont},
		#{Be_ih},
		#{Af_ih},
		#{Etc},
		#{Userid},
		#{Statusid},
		#{Gps_ant},
		#{Audio_cab},
		#{Video_cab},
		#{Led_cab},
		#{Y_cab},
		#{Afc_cab},
		#{Bms_cab},
		#{Audio_gender},
		#{Cushion},
		#{Lte_ant},
		#{Wifi_ant},
		#{Print_bar},
		#{Hexbolt},
		#{Baseplate},
		#{Simpleid},
		NOW())
	</insert>


	<select id="read" parameterType="int"
		resultType="com.example.demo.vo.BoardVO">
		SELECT BNO,
		DATE,
		CSR_TYPEID,
		CO_ID,
		CAR_NO,
		PRO_DATE,
		CSR_REQID,
		CSR_CONT,
		FIX_AREAID,
		ZONEID,
		DEVICEID,
		FIX_CTGID,
		FIX_CONT,
		BE_IH,
		AF_IH,
		ETC,
		USERID,
		STATUSID,
		GPS_ANT,
		AUDIO_CAB,
		VIDEO_CAB,
		LED_CAB,
		Y_CAB,
		AFC_CAB,
		BMS_CAB,
		AUDIO_GENDER,
		CUSHION,
		LTE_ANT,
		WIFI_ANT,
		PRINT_BAR,
		HEXBOLT,
		BASEPLATE,
		SIMPLEID		
		FROM
		chatbot_temp.tCsr_Bo2
		WHERE BNO = #{bno}
	</select>

	<update id="update" parameterType="com.example.demo.vo.BoardVO">
		UPDATE chatbot_temp.tCsr_Bo2
		SET DATE=#{Date},
		CSR_TYPEID=#{Csr_typeid},
		CO_ID=#{Co_id},
		CAR_NO=#{Car_no},
		PRO_DATE=#{Pro_date},
		CSR_REQID=#{Csr_reqid},
		CSR_CONT=#{Csr_cont},
		FIX_AREAID=#{Fix_areaid},
		ZONEID=#{Zoneid},
		DEVICEID=#{Deviceid},
		FIX_CTGID=#{Fix_ctgid},
		FIX_CONT=#{Fix_cont},
		BE_IH=#{Be_ih},
		AF_IH=#{Af_ih},
		ETC=#{Etc},
		USERID=#{Userid},
		STATUSID=#{Statusid},
		GPS_ANT=#{Gps_ant},
		AUDIO_CAB=#{Audio_cab},
		VIDEO_CAB=#{Video_cab},
		LED_CAB=#{Led_cab},
		Y_CAB=#{Y_cab},
		AFC_CAB=#{Afc_cab},
		BMS_CAB=#{Bms_cab},
		AUDIO_GENDER=#{Audio_gender},
		CUSHION=#{Cushion},
		LTE_ANT=#{Lte_ant},
		WIFI_ANT=#{Wifi_ant},
		PRINT_BAR=#{Print_bar},
		HEXBOLT=#{Hexbolt},
		BASEPLATE=#{Baseplate},
		SIMPLEID=#{Simpleid}
		WHERE BNO = #{bno}
	</update>

	<delete id="delete" parameterType="int">
		DELETE
		FROM
		chatbot_temp.tCsr_Bo2
		WHERE BNO = #{bno}
	</delete>	
	
	<select id="listPage" resultType="com.example.demo.vo.BoardVO"
		parameterType="com.example.demo.vo.Criteria">
	<![CDATA[
	 SELECT BNO
		,USERID
		,CSR_REQID
		,STATUSID
		,DATE 
	 FROM 
	 ( 
	 SELECT 
	 @ROWNUM:=@ROWNUM+1 RNUM, 
	 A.BNO 
	,A.USERID 
	,A.CSR_REQID 
	,A.STATUSID 
	 ,A.DATE 
	 FROM 
	 chatbot_temp.tCsr_Bo2 A, 
	 (SELECT @ROWNUM := 0) R 
	 WHERE 
	 1=1]]>
		<include refid="search"></include>
	<![CDATA[ORDER BY REGDATE desc
	 ) list 
	 WHERE RNUM >= #{rowStart} AND RNUM <= #{rowEnd} 
	 ]]>
	</select>

	<select id="listCount" resultType="int">

		SELECT COUNT(BNO)
		FROM chatbot_temp.tCsr_Bo2
		WHERE 1=1
		<include refid="search"></include>
		and BNO > 0

	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'u'.toString()">AND USERID IN (select USERID from chatbot_temp.tUser where USER like '%' #{keyword} '%')</if>
			<if test="searchType == 'c'.toString()">AND CO_ID IN (select CO_ID from chatbot_temp.tCo_Info where CO_NM like '%' #{keyword} '%')  </if>
			<if test="searchType == 's'.toString()">AND CAR_NO LIKE '%'
				#{keyword} '%'</if>
			<if test="searchType == 'd'.toString()">AND DATE LIKE '%' #{keyword}
				'%'</if>
			<if test="searchType == 'r'.toString()">AND CSR_REQID IN (select CSR_REQID from chatbot_temp.tCsr_Req where CSR_REQ like '%' #{keyword} '%')  </if>				
			<if test="searchType == 't'.toString()">AND BE_IH LIKE '%' #{keyword} or AND AF_IH LIKE '%' #{keyword} 
				'%'</if>
			<if test="searchType == 'al'.toString()">AND (DATE LIKE '%' #{keyword}
				'%') or (CO_ID IN (select CO_ID from chatbot_temp.tCo_Info where CO_NM like '%' #{keyword} '%'))or 
				(CAR_NO LIKE '%' #{keyword} '%')or
				(CSR_REQID IN (select CSR_REQID from chatbot_temp.tCsr_Req where CSR_REQ like '%' #{keyword} '%'))or 
				(CSR_CONT LIKE '%' #{keyword} '%')or
				(FIX_AREAID IN (select FIX_AREAID from chatbot_temp.tFix_Area where FIX_AREA like '%' #{keyword} '%'))or
				(ZONEID IN (select ZONEID from chatbot_temp.tZone where ZONE like '%' #{keyword} '%'))or 
				(DEVICEID IN (select DEVICEID from chatbot_temp.tDevice where DEVICE like '%' #{keyword} '%'))or 
				(FIX_CONT LIKE '%' #{keyword} '%')or
				(BE_IH LIKE '%' #{keyword} '%')or
				(AF_IH LIKE '%' #{keyword} '%')or
				(USERID IN (select USERID from chatbot_temp.tUser where USER like '%' #{keyword} '%'))or
				(STATUSID IN (select STATUSID from chatbot_temp.tStatus where STATUS like '%' #{keyword} '%'))
			</if>
		</if>
	</sql>	
	
	
	<select id="listPage2" resultType="com.example.demo.vo.BoardVO"
		parameterType="com.example.demo.vo.Criteria">
	<![CDATA[
	 SELECT BNO
		,CO_ID
		,CAR_NO
		,CSR_REQID		 
	 FROM 
	 ( 
	 SELECT 
	 @ROWNUM:=@ROWNUM+1 RNUM, 
	 A.BNO 
	,A.CO_ID
	,A.CAR_NO 
	,A.CSR_REQID	  
	 FROM 
	 chatbot_temp.tCsr_Bo2 A, 
	 (SELECT @ROWNUM := 0) R 
	 WHERE 
	 1=1]]>
		<include refid="search2"></include>
	<![CDATA[ORDER BY REGDATE desc
	 ) list 
	 WHERE RNUM >= #{rowStart} AND RNUM <= #{rowEnd} 
	 ]]>
	</select>

	<select id="listCount2" resultType="int">

		SELECT COUNT(BNO)
		FROM chatbot_temp.tCsr_Bo2
		WHERE 1=1
		<include refid="search2"></include>
		and BNO > 0
	</select>
	<sql id="search2">
		<if test='searchType1 =="c"  or searchType2 =="s"'>
			 AND CO_ID IN (select CO_ID from chatbot_temp.tCo_Info where CO_NM like '%' #{keyword1} '%' AND CAR_NO LIKE '%' #{keyword2} '%')  			
		</if>
	</sql>
	
	<!-- 첨부파일 업로드 -->
	 <insert id="insertFile" parameterType="hashMap">
		INSERT INTO chatbot_temp.tCsr_File(
			FILE_NO,
			BNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			#{FILE_NO},
			#{BNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO,
			   ORG_FILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM chatbot_temp.tCsr_File
		 WHERE BNO = #{BNO}
		   AND DEL_GB = 'N'
		 ORDER BY FILE_NO ASC
	</select>
	
	<!-- 첨부파일 다운 -->
	<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
		SELECT 
			STORED_FILE_NAME,
			ORG_FILE_NAME
		FROM chatbot_temp.tCsr_File
		WHERE FILE_NO = #{FILE_NO}
	</select>
	<update id="updateFile" parameterType="hashMap">
    	UPDATE chatbot_temp.tCsr_File SET
    	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update>
    <select id="co_info" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tCo_Info
		ORDER BY CO_ID ASC
	</select>
	<select id="csr_req" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tCsr_Req
		ORDER BY CSR_REQID ASC
	</select>
	<select id="fix_area" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tFix_Area
		ORDER BY FIX_AREAID ASC
	</select>
	<select id="zone" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tZone
		ORDER BY ZONEID ASC
	</select>
    <select id="device" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tDevice
		ORDER BY DEVICEID ASC
	</select>
    <select id="user" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tUser
		ORDER BY USERID ASC
	</select>
	<select id="status" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tStatus
		ORDER BY STATUSID ASC
	</select>
	<select id="csr_type" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tCsr_Type
		ORDER BY CSR_TYPEID ASC
	</select>
	<select id="fix_ctg" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tFix_Ctg
		ORDER BY FIX_CTGID ASC
	</select>
	<select id="simple" parameterType="int" resultType="com.example.demo.vo.BoardVO">
		SELECT *
		FROM chatbot_temp.tSimple
		ORDER BY SIMPLEID ASC
	</select>
	<insert id="client04" parameterType="com.example.demo.vo.BoardVO" useGeneratedKeys="true" keyProperty="bno">
		INSERT INTO chatbot_temp.tCsr_Bo2(
		DATE,
		CO_ID,
		CAR_NO,
		CSR_REQID
		)VALUES(
		#{Date},
		#{Co_id},		
		#{Car_no},
		#{Csr_reqid})
	</insert>
			    
</mapper>


 